<config>
  <assets>
    <dataFolder>../nbd-3dge/data/</dataFolder>
    <shadersFolder>../nbd-3dge/shaders/</shadersFolder>

    <shaderProgram>
      <name>default</name>
      <vertexShader>default.vert</vertexShader>
      <fragmentShader>default.frag</fragmentShader>
    </shaderProgram>

    <shaderProgram>
      <name>light</name>
      <vertexShader>light.vert</vertexShader>
      <fragmentShader>light.frag</fragmentShader>
    </shaderProgram>

    <shaderProgram>
      <name>lightAndTex</name>
      <vertexShader>lightAndTex.vert</vertexShader>
      <fragmentShader>lightAndTex.frag</fragmentShader>
    </shaderProgram>
    
    <texture>
      <name>mars_front</name>
      <file>mars/mars_front.jpg</file>
      <wrap>GL_CLAMP_TO_EDGE</wrap>
    </texture>
    <texture>
      <name>mars_right</name>
      <file>mars/mars_right.jpg</file>
      <wrap>GL_CLAMP_TO_EDGE</wrap>
    </texture>
    <texture>
      <name>mars_back</name>
      <file>mars/mars_back.jpg</file>
      <wrap>GL_CLAMP_TO_EDGE</wrap>
    </texture>
    <texture>
      <name>mars_left</name>
      <file>mars/mars_left.jpg</file>
      <wrap>GL_CLAMP_TO_EDGE</wrap>
    </texture>
    <texture>
      <name>mars_top</name>
      <file>mars/mars_top.jpg</file>
      <wrap>GL_CLAMP_TO_EDGE</wrap>
    </texture>
   
    <texture>
      <name>cube_texture</name>
      <file>texture_I.png</file>
    </texture>

    <texture>
      <name>floor_texture</name>
      <file>texture_H.png</file>
    </texture>
    
    <texture>
      <name>ship_texture</name>
      <file>ship.jpg</file>
    </texture>

    <mesh>
      <name>teddy</name>
      <file>teddy2.obj</file>
    </mesh>

    <mesh>
      <name>cow</name>
      <file>cow.obj</file>
    </mesh>

    <!--mesh>
      <name>teapot</name>
      <file>teapot.obj</file>
    </mesh-->

    <mesh>
      <name>ship</name>
      <file>ship.obj</file>
    </mesh>

    <mesh>
      <name>cube</name>
      <file>cube.obj</file>
    </mesh>

    <mesh>
      <name>floor</name>
      <file>floor.obj</file>
    </mesh>
    
  </assets>
  <scene>
    
    <camera>
      <position>
        <x>0</x>
        <y>0</y>
        <z>80</z>
      </position>
    </camera>

    <skybox>
      <front>mars_front</front>
      <right>mars_right</right>
      <back>mars_back</back>
      <left>mars_left</left>
      <top>mars_top</top>
      <bottom></bottom>
    </skybox>

    <terrain>
      <name>terrain</name>
      <heightMap>terrain-heightmap-01.png</heightMap>
      <shaderProgram>light</shaderProgram>
    </terrain>

    <actor>
      <name>teddy</name>
      <scale>0.2</scale>
      <mesh>teddy</mesh>
      <shaderProgram>light</shaderProgram>
    </actor>
    
    <actor>
      <name>cube</name>
      <scale>0.2</scale>
      <position>
        <x>10</x>
        <y>0</y>
        <z>0</z>
      </position>
      <mesh>cube</mesh>
      <texture>cube_texture</texture>
    </actor>

    <actor>
      <name>cow</name>
      <position>
        <x>-10</x>
        <y>0</y>
        <z>0</z>
      </position>
      <mesh>cow</mesh>
      <shaderProgram>light</shaderProgram>
    </actor>

    <actor>
      <name>ship</name>
      <scale>0.1</scale>
      <position>
        <x>0</x>
        <y>-10</y>
        <z>0</z>
      </position>
      <mesh>ship</mesh>
      <texture>ship_texture</texture>
      <shaderProgram>lightAndTex</shaderProgram>
    </actor>

    <actor>
      <name>ship_2</name>
      <scale>0.1</scale>
      <position>
        <x>10</x>
        <y>100</y>
        <z>0</z>
      </position>
      <mesh>ship</mesh>
      <texture>ship_texture</texture>
    </actor>

    <!--actor>
      <name>teapot</name>
      <position>
        <x>0</x>
        <y>10</y>
        <z>0</z>
      </position>
      <mesh>teapot</mesh>
      <shaderProgram>light</shaderProgram>
    </actor-->

    <actor>
      <name>floor</name>
      <scale>25</scale>
      <position>
        <x>0</x>
        <y>-15</y>
        <z>0</z>
      </position>
      <mesh>floor</mesh>
      <texture>floor_texture</texture>
    </actor>

  </scene>
</config>
